:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(77, 77, 77, 0.164);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(22, 2, 66);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 10, 85);
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0, 16, 18, 1) 0%, rgba(8, 0, 97, 1) 30%, rgba(50, 0, 158, 1) 100%);
}

#app {
  text-align: center;
  color: white;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}